<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
sdfsdfsdfdsf
<form id="confirmationForm" name="confirmationForm" action="/oauth/authorize" method="post">
    <input name="user_oauth_approval" value="true" type="hidden"><label>
    <input name="authorize" value="Authorize" type="submit">
</label>
</form>

<form id="denialForm" name="denialForm" action="/oauth/authorize" method="post"><input name="user_oauth_approval"
                                                                                       value="false"
                                                                                       type="hidden"><label><input
        name="deny" value="Deny" type="submit"></label></form>
</body>
</html>