/* 登录框居中，位于正中间，且固定宽高 */
div.login-form-card {
    position: absolute;
    width: 350px;
    height: 300px;
    margin: auto; /* 0 auto 水平居中；auto 水平垂直居中 */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: pink; /* 方便看效果 */
}
.login-form-button {
    width: 100%;
}